/* HTML and Body */

html {
  color: white;
  font-family: "Karma", sans-serif;
}

body {
  background-color: #637288;
  margin: 0px;
}

.BlogText {
  padding-left: 17%;
  padding-right: 17%;
}

/* Name Banner */

#banner_out{
    position: relative;
    background-image: url("sun.jpg");
    color: white;
    text-align: center;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px;

}

#banner_in{
  border: 2px solid white;
  text-align: center;
  padding: 0px 10px;
  margin: 130px;
  position: relative;
  margin-top: -278px;

}

#banner_in p1{
  font-size: 175px;
  font-family: 'Lovers Quarrel', cursive;
}

#banner_in p2{
  font-size: 25px;
}


/* Navigation Bar */

.topnav a {
    float: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin: 25px;
    font-family: "Karma", sans-serif;
}

.topnav a:hover {
    color: #9cc4bd;
    font-family: "Karma", sans-serif;
}

.topnav a.active {
    border: 2px solid white;
    color: white;
    font-family: "Karma", sans-serif;
}


/* Hover */

a:hover {
  color: #9cc4bd;
  border: #9cc4bd;
  font-family: 'Roboto:regular', sans-serif;

}

a {
  color: #2b3c5a;
  font-family: 'Roboto:regular', sans-serif;
}


h1 { /* Blog Title */
  font-size: 65px;
  text-align: center;
  padding-left: 17%;
  padding-right: 17%;
}

h3 { /* Blog SubTitle */
  font-size: 35px;
  text-align: center;
}

h4 {
  font-weight: normal;
}

.BlogText > p{
  font-size: 20px;
  color: white;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  line-height: 175%;
  text-indent: 8%;
}

/* Pictures */

.vid {
  margin: 2px;
  text-align: center;
}

.vid > video {
  border: 2px solid white;
  text-align: center;
}

.center {
  text-align: center;
}

img {
  border: 2px solid white;
  margin-bottom: 0px;
}

.pics{ /*Multiple pictures in a row*/
  display: flex;
  text-align: center;
}

.pic3 {
  padding: 15px;
  text-align: center;
  width:33%;
}

.pic2 {
  width: 50%;
  padding: 2%;
  text-align: center;
}

.BlogText .pic{
  font-size: 20px;
  text-align: center;
}

.pic { /* One centered picture */
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}

comment {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

comment > p{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  margin: 0px;

}


/* Buttons */

.buttons>a {
  font-size: 28px;
  font-family: "Karma", sans-serif;

}

/* Footer */

footer {
  position: relative;
  background-image: url("sun_bottom.jpg");
  color: white;
  text-align: center;
  background-position: center;
  background-size: cover;
  padding: 60px;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-linkedin:hover {
  color: #2b3c5a;
  border: 2px solid #2b3c5a;
}

.fa-facebook, .fa-instagram, .fa-linkedin {
    color: white;
    border: 2px solid white;
    font-size: 14px;
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    float: center;
    margin: 10px;
}
